.home_container {
  display: flex;
  flex: 1;
  width: 100%;
}
.sidebar {
  display: flex;
  flex: 0.025;
  background-color: #000;
}
.search_icon {
  display: flex;
  cursor: pointer;

  justify-content: center;
}
.movie_container {
  flex: 0.975;
}

.search_bar {
  display: flex;
  margin: 10px;
  flex: 1;
}
.search_bar input {
  width: 100%;
  padding: 8px;

  outline: none;
  border: 1px solid #e5e5e5;
}
.movie_search_box {
  display: flex;
}
